/* ========================================================================general-dentistry page================================================================================ */
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------------------------1st page------------------------------------------------------------------------------------- */

.general-dentistry-bg-img-section{
    min-height: 90vh;
    width: 100%;
    margin-top: clamp(60px, 8vw, 10vh);
    background-color: #ebe3da;
}
  
.general-dentistry-main-container{
    min-height: 87.9vh;
    width: 100%;
    background-color: transparent;
    margin-top: clamp(30px, 4vw, 5vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.general-dentistry-text-part{
    height: 100%;
    width: clamp(300px, 60%, 60%);
}
  
.general-dentistry-wrapper{
    width: clamp(100%, 120%, 120%);
    height: 100vh;
    top: -10%;
    margin-left: clamp(-2%, -1%, -1%);
    background: linear-gradient(rgba(0,0,0.7), rgba(0,0,0,0.5)), url(StockCake-Dental\ Tools\ Prepared_1736105513.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
  
.general-dentistry-text-part .general-dentistry-heading{
    height: 10%;
    width: clamp(200px, 150%, 150%);
    margin-top: clamp(15%, 25%, 25%);
}
  
.general-dentistry-heading h3{
    font-size: clamp(1.5rem, 4vw, 2rem) !important;
    font-weight: normal;
    margin-left: clamp(20%, 44%, 44%);
    color: white;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
}
  
.general-dentistry-text-part .general-dentistry-sub-heading{
    height: 10%;
    width: clamp(200px, 150%, 150%);
    margin-top: clamp(-5%, -3%, -3%);
}
  
.general-dentistry-sub-heading p{
    font-size: clamp(1rem, 2.5vw, 1.3rem) !important;
    font-family: 'SangBleu Kingdom Light, Georgia', serif;
    letter-spacing: 0.1rem;
    margin-left: clamp(10%, 20%, 20%);
    color: white;
    font-weight: 500;
}

.general-dentistry-text-part .contact-btn{
    height: clamp(2rem, 4vw, 2.5rem);
    width: clamp(7rem, 15vw, 9.5rem);
    border: 1px solid white;
    background-color: white;
    margin-left: clamp(40%, 70%, 70%);
    margin-top: clamp(1%, 2%, 2%);
    text-decoration: none;
    font-size: clamp(0.8rem, 1.8vw, 0.9rem);
    letter-spacing: 0.2rem;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

  .general-dentistry-text-part .contact-btn:hover{
    background-color: black;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .general-dentistry-text-part a:hover button{
    color: white;
  } 
  
  
  /* -----------------------------------------------------------------------2nd page-------------------------------------------------------------------- */
  
  .general-dentistry-types {
    height: 550vh;
    padding: 20px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #ebe3da;
  }
  
  .general-dentistry-types h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    margin-top: 5%;
  }
  
  .general-dentistry-types .general-dentistry-types-container{
    height: 530vh;
    /* border: 2px solid green; */
  }
  
  .general-dentistry-types-container .general-dentistry-types-sub-container{
    height: 50vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    /* align-items: center; */
  }
  
  .general-dentistry-types-sub-container .general-dentistry-types-text{
    width: 50%;
    height: 30vh;
    /* border: 2px solid red; */
    padding-top: 6%;
  }
  
  .general-dentistry-types-text h3{
    height: 5vh;
    width: 80%;
    /* border: 2px solid black; */
    text-align: left;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-left: 10%;
  }
  
  .general-dentistry-types-text p{
    height: 12vh;
    width: 80%;
    /* border: 2px solid black; */
    text-align: left;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 10%;
  }
  
  .general-dentistry-types-sub-container .general-dentistry-types-image{
    width: 50%;
    height: 50vh;
    /* border: 2px solid purple; */
  }
  
  .general-dentistry-types-image .cd-img{
    height: 45vh;
    width: 80%;
    margin-top: 1vh;
    margin-left: 10%;
    /* border: 2px solid blue; */
  }
  
  .cd-img img{
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  /* ---------------------------------------------------------------------------------3rd page------------------------------------------------------------------------- */
  
  .preventive-measures-general-dent{
    height: 90vh;
    width: 100%;
    background-color: #ebe3da;
    /* border: 2px solid black; */
  }
  
  .preventive-measures-general-dent h2{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 50px;
    /* border: 2px solid black; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    /* margin-top: 5%; */
  }
  
  .preventive-measures-general-dent .preventive-measures-general-dent-container{
    height: 70vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .preventive-measures-general-dent-container .pm-img{
    height: 67vh;
    width: 30%;
    /* border: 2px solid blue; */
  }
  
  .pm-img h4{
    font-size: 1.4rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    width: 80%;
    margin-left: 10%;
  }
  
  .pm-img .pm-image{
    height: 300px;
    width: 300px ;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 5%;
    border: 5px solid black;
  }
  
  .pm-img p{
    font-size: 1rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
  }
  
  /* ------------------------------------------benefits--------------------------------------------------- */
  
  .general-dentistry-benefits-container{
    height: 60vh;
    width: 100%;
    padding-top: 5%;
    background: #ebe3da;
  }
  
  .general-dentistry-benefits-container h2{
    text-align: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
  
  .general-dentistry-benefits-container .general-dentistry-benefits-content{
    height: 30vh;
    width: 90%;
    margin-left: 5%;
    /* border: 2px solid black; */
    display: grid;
    padding-top: 5%;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(1, auto); 
  }
  
  .general-dentistry-benefits-content .general-dentistry-benefits{
    height: 30vh;
    width: 100%;
    margin-top: 2%;
  }
  
  .general-dentistry-benefits .general-dentistry-benefits-list{
    /* border : 2px solid blue; */
    margin-top: 3%;
  }
  
  .general-dentistry-benefits-list li{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    /* text-align: left; */
  }

   /* ------------------------------------------------------------------------------------dentist-client------------------------------------ */
  
.people-main-section{
  position: relative;
  width: 100%;
  height: 70vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; */
  /* background-color: #BEB2A6; */
  background-color:  #c0b9b2;
  border: 2px solid transparent;
}


.people-main-section .people-slider-wrapper{
  overflow: hidden;
  margin: 0 60x 50px;
}


.people-main-section .people-item {
  display: flex;
  /* padding: 35px; */
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  /* border: 2px solid black; */
}

.people-main-section .people-item .people-images{
  width: 350px;
  height: 250px;
  background-size: cover;
  /* border-radius: 50%; */
  margin-bottom: 50px;
  border: 10px solid #f9f2e8;
}

.people-main-section .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  opacity: 1;
  margin-bottom: 5%;
  /* border: 2px solid black; */
}
